.container{
    display: flex;
    justify-content: center;
}

.image img {
    margin: 20px;
    height: 200px;
    width: 300px;
    border-radius: 50%;
    text-align: left;
}

.user {
    padding: 20px;
    font-size: 24px;
}

p span {
    font-size: 32px;
    font-weight: bold;
}

.name span{
    color: #00A6ED;
}

.age span {
    color: #59C9A5;
}